#side_advertising

%h2#carousel_title Top Receitas Dona Gege

%ul#carousel
  %li
    = link_to image_tag('slider.jpg', size: '640x400'), root_path
    %p
      %strong.title This is a title
      %br
      This is a subtitle
      %br
      This is the ratings

  %li= image_tag('slider.jpg', size: '640x400')
  %li= image_tag('slider.jpg', size: '640x400')
  %li= image_tag('slider.jpg', size: '640x400')
  %li= image_tag('slider.jpg', size: '640x400')
  %li= image_tag('slider.jpg', size: '640x400')

#last_recipes_section
  %h3#last_recipes_title Últimas Receitas

  %ul#last_recipes

    %li
      = image_tag('img2.jpg', size: '160x105')
    %li
      = image_tag('img3.jpg', size: '160x105')
    %li
      = image_tag('img4.jpg', size: '160x105')
    %li.last
      = image_tag('img5.jpg', size: '160x105')


- content_for :javascript do
  :javascript
    new Sampler()