#side_advertising

%h2#carousel_title Top Receitas Dona Gege

%ul#carousel
  - @recipe_highlights.each do |highlight|
    %li
      = link_to image_tag(highlight.image.url(:big), size: '640x400'), root_path
      %p
        %strong.title= highlight.name
        %br
        = highlight.description
        %br
        = image_tag('img2.jpg', size: '160x105')

#last_recipes_section
  %h3#last_recipes_title Últimas Receitas

  %ul#last_recipes
    - @recipe_recents.each do |recent|
      %li
        = image_tag(recent.image.url(:medium), size: '160x105')


- content_for :javascript do
  :javascript
    new Sampler()