#sampler
  .recipe_sampler_name_holder
    .recipe_sampler_name
      %strong= @recipes_most_recent[0].name
      %br
      = @recipes_most_recent[0].description
    .recipe_sampler_name
      %strong= @recipes_most_recent[1].name
      %br
      = @recipes_most_recent[1].description
    .recipe_sampler_name
      %strong= @recipes_most_recent[2].name
      %br
      = @recipes_most_recent[2].description
  .recipe_sampler_image