#recipes_display
	%h1= "Receitas de #{@category.name}"
	%p Veja a lista de todas as receitas:
	- @category.recipes.each do |recipe|
		.recipes_background
			.recipes_image
				= image_tag recipe.image.url(:thumb)
			.recipes_text
				= link_to recipe.name, recipe_path(@category, recipe)
				%br
				= recipe.description
