<!DOCTYPE html>
<html>
<head>
  <title>Receitas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="topbar_admin">
			<div id="searchbar_admin">
				<% # Include the search form here! %>
			</div>
			<div id="menubar_admin">
				<%= link_to "New Category", new_admin_category_path %> | <%= link_to 'New Recipe', new_admin_recipe_path %>
			</div>
		</div>
		<hr />

		<%= yield %>

	</div>
</body>
</html>