<!DOCTYPE html>
<html>
<head>
  <title>Receitas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="topbar">
			<div id="search_bar">
				<%= render :partial => 'recipes/search' %>
				<% # Content for the search bar %>
			</div>
			<div id="login_bar">
				<span class="notice"><%= notice %></span>
				<span class="alert"><%= alert %></span>
				<% if user_signed_in? %>
					<span>Seja bem-vindo, <%= current_user.login %>!</span><br />
					<span>Acessar área do usuário</span><br />
					<%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
				<% else %>
					<%= render 'devise/sessions/new' %>
				<% end %>
			</div>
			<div id="menu">
				<ul>
					<% menu.each do |category| %>
						<li><%= link_to category.name, category_path(category) %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div id="advertising">

		</div>

		<%= yield %>

	</div>
</body>
</html>
