!!!
%html
  %head
    %title= @title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = ajaxful_rating_style
  %body
    #container
      #top
        #logo
          = link_to image_tag('/assets/logo.png'), root_path
        #main_advertising
        #search_bar
          #header
            %p ÁREA DO USUÁRIO
          #menu
            - if user_signed_in?
              %span= "Seja bem-vindo, #{current_user.login}"
              = link_to "Sign out", destroy_user_session_path, method: :delete
            - else
              = render 'devise/sessions/new'

            = render partial: 'recipes/search'
        / #user_bar
        /   #search_bar
        /     = render :partial => 'recipes/search'
        / #login_bar
        /   .notice= notice
        /   .alert= alert
        /   - if user_signed_in?
        /     %span= "Seja bem-vindo, #{current_user.login}"
        /     %br
        /     %span Acessar área do usuário
        /     %br
        /     = link_to "Sign out", destroy_user_session_path,:method => :delete
        /   - else
        /     = render 'devise/sessions/new'
      #sidebar
        %h3 Categorias
        %ul
          - menu.each do |category|
            %li= link_to category.name, category_path(category), id: category.name

      = yield
  #js
    = yield :javascript
